.MuiFormControl-root{
    left: 47px ;
    top: 61px;
    margin-bottom: 30px;
  }

  .alert-search{
    margin-top: 10px;
    margin-left: 70px;
  }
.search-btn{
    left: 855px  !important;
}

//   #free-solo-2-demo{
//       color: black;
//   }

  

